// color
// primary
$primaryColor: #28cb8b;
$blackColor: #263238;
$infoColor: #2194f3;
// neutral
$dGrayColor: #4d4d4d;
$grayColor: #717171;
$lGrayColor: #89939e;
$grayBlueColor: #abbed1;
$silverColor: #f5f7fa;
$whiteColor: #fff;
// action
$warningColor: #fbc02d;
$errorColor: #e53835;
$successColor: #2e7d31;

// typography
$h1FontSize: 3.2rem;
$h2FontSize: 2.6rem;
$h3FontSize: 2.4rem;
$bodyFontSize: 1.6rem;
